<h1> Checkout </h1>

<h2> The follwing products checking out: </h2>

<!-- The list of cart items. -->
<ul>
	<% @cart.items.each do |item| %>
	  <li>
	  	<em><%= item.quantity %></em>
	  	<%= item.product.name %>
	  	<!-- item total price -->
	  </li>
	<% end %>
</ul>

<!-- The total price for cart. -->
<p>
	<strong>
		Total price:
		  Todo: For cart total price.
	</strong>
</p>

<!-- The form for order. -->
<%= form_for @order_form, url: orders_path do |f| %>
================================================================================
	<%= render 'orders/errors' %>
================================================================================
	<div class="field">
		<%= f.fields_for :user, f.object.user do |u| %>
			<div class="form-group">
				<%= u.text_field :first_name, placeholder: "First Name" %><br>
				<%= u.text_field :last_name,  placeholder: "Last Name" %><br>
				<%= u.text_field :email,      placeholder: "Email" %><br>
				<%= u.text_field :phone, placeholder: "Phone" %><br>
			</div>
		<% end %>
		<span class="help-block">This will help you track your order more effectively.</span>

		  <!-- Todo for Address model -->
				<!-- Address form -->
					<!-- country select -->
					<!-- zip_code -->
					<!-- state -->
					<!-- city -->
					<!-- address -->

	</div>

================================================================================
	<div class="payment">
		<!-- The form for payment. (Paypal, credit card, allpay, alipay) -->
		<div id="payment-form"></div>
		<div id="alipay"></div>
	</div>
================================================================================

	<div class="actions">
		<%= f.submit 'Place order' %>
	</div>
<% end %>

<script>
braintree.setup("<%= @client_token %>", "dropin", {
  container: "payment-form"
});
</script>