<h3> Checkout </h3>

<h4> The follwing products checking out: </h4>

<!-- The list of cart items. -->
<ul>
	<% @cart.items.each do |item| %>
	  <li>
	  	<em><%= item.quantity %></em>
	  	<%= item.product.name %>
	  	<%= number_to_currency item.total_price  %>
	  </li>
	<% end %>
</ul>

<!-- The total price for cart. -->
<p>
	<strong>
		Total price:
		  <%= number_to_currency @cart.total_price %>
	</strong>
</p>

<div class="divider"></div>

<!-- The form for order. -->
<%= form_for @order_form, url: orders_path do |f| %>

	<%= render 'orders/errors' %>

	<div class="field">
		<%= f.fields_for :user, f.object.user do |u| %>
			<div class="form-group">
				<p>First Name</p>
				<%= u.text_field :first_name, placeholder: "First Name" %><br>
				<p>Last Name</p>
				<%= u.text_field :last_name,  placeholder: "Last Name" %><br>
				<p>Email</p>
				<%= u.text_field :email,      placeholder: "Email" %><br>
				<p>Phone</p>
				<%= u.text_field :phone, placeholder: "Phone" %><br>
				<span class="help-block">This will help you track your order more effectively.</span>
			</div>
			<div class="form-group .input-field">
				<p>Address</p>
				<%= u.text_field :address, placeholder: "Location(except from the country, state and city)" %><br>

				<p>Zip Code/Postal Code</p>
				<%= u.text_field :zip_code, placeholder: "Zipcode" %><br>

				<p>City</p>
				<%= u.text_field :city, placeholder: "City" %><br>

				<p>State</p>
				<%= u.text_field :state, placeholder: "State" %><br>

				<div class=".input-field">
					<p>Counrty</p>
					<%= u.country_select :country, { priority_countries: [ "TW", "US", "JP", "GB" ] }, :class => "browser-default" %>
				</div>
			</div>
		<% end %>
	</div>

	<br>
	<div class="divider"></div>

	<div class="payment">
		<!-- The form for payment. (Paypal, credit card, allpay, alipay) -->
		<h4>Choose your payment method:</h4>

		<div id="braintree">
			<a class="waves-effect waves-light btn">Braintree</a>
		</div>
		<br>
		<div id="payment-form" style="display: none"></div><br>

		<div id="alipay" >
			<div class="action">
				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-amount="<%= @cart.total_price * 100 %>" data-description="HappyCompany products order" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"  data-name="Happy Company" data-label="Pay with Card or Alipay" data-locale="auto" data-alipay="true"></script>
			</div>
		</div>
	</div>

	<br>
	<div class="divider"></div>
	<br>

	<div class="actions">
		<%= f.submit 'Place order',:class => "btn waves-effect waves-light" %>
	</div>
<% end %>

<script>
	$(function(){
		$(".payment #braintree").on('click', function() {
			$("#payment-form").toggle(
				function(){
					$("#payment-form").html("<%= j render 'braintree' %>");
				}
			);
		});
	});
</script>
