<h1> Checkout </h1>

<h2> The follwing products checking out: </h2>

<!-- The list of cart items. -->
<ul>
	<% @cart.items.each do |item| %>
	  <li>
	  	<em><%= item.quantity %></em>
	  	<%= item.product.name %>
	  	<%= number_to_currency item.total_price  %>
	  </li>
	<% end %>
</ul>

<!-- The total price for cart. -->
<p>
	<strong>
		Total price:
		  <%= number_to_currency @cart.total_price %>
	</strong>
</p>

<!-- The form for order. -->
<%= form_for @order_form, url: orders_path do |f| %>
================================================================================
	<%= render 'orders/errors' %>
================================================================================
	<div class="field">
		<%= f.fields_for :user, f.object.user do |u| %>
			<div class="form-group">
				<%= u.text_field :first_name, placeholder: "First Name" %><br>
				<%= u.text_field :last_name,  placeholder: "Last Name" %><br>
				<%= u.text_field :email,      placeholder: "Email" %><br>
				<%= u.text_field :phone, placeholder: "Phone" %><br>
				<span class="help-block">This will help you track your order more effectively.</span>
			</div>
			<div class="form-group">
				<%= u.text_field :address, placeholder: "Location(except from the country, state and city)" %><br>
				<%= u.text_field :zip_code, placeholder: "Zipcode" %><br>
				<%= u.text_field :city, placeholder: "City" %><br>
				<%= u.text_field :state, placeholder: "State" %><br>
				<%= u.country_select :country, { priority_countries: [ "TW", "US", "JP", "GB" ] } %>
			</div>
		<% end %>
	</div>

================================================================================
	<div class="payment">
		<!-- The form for payment. (Paypal, credit card, allpay, alipay) -->
		Choose your payment method:
		<div id="braintree">
			Braintree
		</div>
		<div id="payment-form" style="display: none"></div><br>
		<div id="alipay" >
			<div class="action">
				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-amount="<%= @cart.total_price * 100 %>" data-description="HappyCompany products order" data-key="<%= Rails.configuration.stripe[:publishable_key] %>"  data-name="Happy Company" data-label="Pay with Card or Alipay" data-locale="auto" data-alipay="true"></script>
			</div>
		</div>
	</div>
================================================================================

	<div class="actions">
		<%= f.submit 'Place order' %>
	</div>
<% end %>

<script>
	$(function(){
		$(".payment #braintree").on('click', function() {
			$("#payment-form").toggle(
				function(){
					$("#payment-form").html("<%= j render 'braintree' %>");
				}
			);
		});
	});
</script>
