<nav>
	<div class="nav-wrapper">
		<div class="col s12 left">
			<%= link_to "Happy Store", root_path, :class => "brand-logo left" %>

			<ul class="left" style="margin-left: 210px; line-height: 64px">
				<li><%= link_to "Products", products_path%></li>

				<li>
					<a class="dropdown-button" data-activates="dropdown-category">Category<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		</div>

		<div class="col s12 right" >
			<ul style="margin-right: 20px; line-height: 64px;">
				<li style="margin-right: -10px;">
					<%= render 'cart' %>
				</li>

				<li>
					<a class="dropdown-button" href="#!" data-activates="dropdown-user"><i class="large material-icons">perm_identity</i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Dropdwon Category Structure -->
<ul id="dropdown-category" class="dropdown-content">
	<% @meta_items.each do |m_item| %>
		<li><%= link_to m_item.name, m_item %></li>
	<% end %>
</ul>

<!-- Dropdown User Structure -->
<ul id="dropdown-user" class="dropdown-content">
	<li>
		<% if user_signed_in? %>
			<strong>Welcome <%= current_user.first_name %></strong>
			<%= link_to "Log out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Log in", new_user_session_path %>
		<% end %>
	</li>
</ul>
