<!DOCTYPE html>
<html>
  <head>
    <title>VinShoppingAlpha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- payment braintree -->
    <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  </head>

  <body>
  	<div>
  		<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  	</div>
============================================================
============================================================
    <%= render 'nav' %>
============================================================
============================================================
    <%= yield %>
  </body>
</html>
